@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Rubik:400,500,700&display=swap');


body{
    font-family: var(--fonte-texto);
    margin: 0;
    padding: 0;
    background-color: var(--branco);
    color: var(--preto);
    width: 100vw;
    height: 100vh;
}
a{
    text-decoration: none;
}

/* Personaliza a barra de rolagem */
::-webkit-scrollbar {
    width: 10px; /* Largura da barra de rolagem */
    background: var(--branco-5-escuro); /* Cor de fundo */
}

/* Personaliza o fundo da barra de rolagem */
::-webkit-scrollbar-track {
    background: var(--branco-5-escuro); /* Cor de fundo */
    border-left: 1px solid var(--branco-20-escuro);
}

/* Personaliza o manipulador da barra de rolagem */
::-webkit-scrollbar-thumb {
    background: var(--branco-20-escuro); /* Cor do manipulador */
}

/* Altera a cor do manipulador ao passar o mouse */
::-webkit-scrollbar-thumb:hover {
    background: var(--preto-50-claro); /* Cor de fundo */
}