@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Rubik:400,500,700&display=swap');


body{
    font-family: var(--fonte-texto);
    margin: 0;
    padding: 0;
    background-color: var(--branco);
    color: var(--preto);
    width: 100vw;
    height: 100vh;
}
a{
    text-decoration: none;
}

/* Personaliza a barra de rolagem */
::-webkit-scrollbar {
    width: 10px; /* Largura da barra de rolagem */
    background: var(--branco-5-escuro); /* Cor de fundo */
}

/* Personaliza o fundo da barra de rolagem */
::-webkit-scrollbar-track {
    background: var(--branco-5-escuro); /* Cor de fundo */
    border-left: 1px solid var(--branco-20-escuro);
}

/* Personaliza o manipulador da barra de rolagem */
::-webkit-scrollbar-thumb {
    background: var(--branco-20-escuro); /* Cor do manipulador */
}

/* Altera a cor do manipulador ao passar o mouse */
::-webkit-scrollbar-thumb:hover {
    background: var(--preto-50-claro); /* Cor de fundo */
}

#warning-popup{
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s, visibility 0.5s;
    position: fixed;
    top: 0;
    right: 0;
    width: 500px;
    padding: 20px 35px;
    height: fit-content;
    background-color: var(--vermelho-60);
    border: 5px solid var(--vermelho-40-escuro);
    border-radius: 50px;
    margin: 20px;
    z-index: 1000000;
    justify-content: center;
    align-items: center;
}

#warning-popup-message{
    color: var(--branco);
    font-size: 14px;
    width: 100%;
    height: 100%;
    text-align: center;
    vertical-align: center;
    font-family: var(--fonte-titulo);
    text-transform: uppercase;
    font-weight: 600;
    margin: 0;
}