.header-modal{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background-color: var(--branco);
    border-radius: 10px 10px 0 0;
    border-bottom: 1px solid var(--branco-20-escuro);
}

.header-modal-title{
    font-family: var(--fonte-titulo);
    font-size: 32px;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--preto);
    margin: 0;
}

.body-modal{
    display: flex;
    padding: 30px 50px;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    background: var(--branco-5-escuro, #E8E8E8);
}

.body-modal-form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    width: 100%;
    margin: 0;
}

.required-warning{
    color: var(--preto-50);
    margin-left: 10px;
    margin-bottom: -20px;
    font-weight: 500;
    font-family: var(--fonte-titulo);
    font-size: 16px;
}

.form-input-area{
    display: flex;
    padding: 30px 50px;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    border-radius: 10px;
    background: var(--branco, #F3F3F3);
    width: 100%;
}

.input-wrapper{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.input-wrapper-title{
    display: flex;
    width: 200px;
    padding: 0 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-left: 10px;

    border-radius: 10px 10px 0 0;
    border-top: 1px solid var(--branco-20-escuro, #C8C8C8);
    border-right: 1px solid var(--branco-20-escuro, #C8C8C8);
    border-left: 1px solid var(--branco-20-escuro, #C8C8C8);

    color: var(--preto, #1C1C1C);
    font-family: var(--fonte-titulo);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px; /* 214.286% */
    text-transform: capitalize;
}

.input-wrapper-inputs{
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    align-self: stretch;

    display: flex;
    min-width: 210px;
    width: 100%;
    padding: 20px;
    align-items: center;
    gap: 20px;

    border-radius: 10px;
    border: 1px solid var(--branco-20-escuro, #C8C8C8);
}

.footer-modal{
    width: 100%;
    height: 20px;
    background-color: var(--branco);
    border-radius: 0 0 10px 10px;
    border-top: 1px solid var(--branco-20-escuro);
}

.modal{
    --bs-modal-width: 50vw;
}

.header-modal-close{
    border: none;
    display: flex;
}

.header-modal-close span{
    width: 20px;
    height: 20px;
}